html {
    text-align: left;
    background-color: darkgrey;
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    height: 100%
}

/* tables */
table {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

th, td {
    padding: 5px;
    border: 1px solid white;
    
    border-radius: 5px;
}

td.nav {
    text-align: center;
    width: 20%
}

td.projects {
    width: 10%
}

/* layout */
.layout-row {
    display: flex;
}
  
.layout-column {
    flex: 50%;
}


a:link {
    color: white
}
a:visited {
    color: white;
}
